body{
    padding-left: 70vh;
    background-color:rgb(240, 185, 114) ;
    color: aliceblue;
    font-size: x-large;
}
    
fieldset{
    padding: 10vh;
    margin-top: 5vh;
    width:40vh;
    background-color: brown;
}
table{
    border:1px;
    border-color: white;
}